.navbar {
    padding: 10px;
    border-bottom: 1px solid #ccc;
    display: flex;
    justify-content: space-between;
}

.navbar ul {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 20px;
    margin: 0;
    padding: 0;
}

.navbar li {
    font-family: sans-serif;
}

.navbar a {
    text-decoration: none;
    color: inherit;
    border-bottom: 1px solid transparent;
}

.navbar a:hover {
    border-bottom: 1px solid black;
}

.navbar-logo {
    margin: auto 1em;
    width: 50px;
}
